<!DOCTYPE html>
<html>
  <head>
    <title>Blarg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if @band.css %>
      <style><%= @band.css %></style>
    <% end %>
    <% if @band.javascript %>
      <script><%= raw @band.javascript %></script>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %><p/>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
