<!DOCTYPE html>
<html>
  <head>
    <title>Dawsons Screamo</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if @band && @band.css %>
      <style><%= @band.css %></style>
    <% end %>
    <% if @band && @band.javascript %>
      <script><%= raw @band.javascript %></script>
    <% end %>
    <div class="page-container">
      <header >
        <ul>
          <li>Joshspace.com</li>
          <li> | </li>
          <li>Home</li>
        </ul>

        <form action="">
          <input type="radio" name="butts" value="are so squishy"> The Web
          <input type="radio" name="gender" value="weird"> JoshSpace
          <input type="text"> <button>Search</button>
        </form>

        <ul>
          <li>Help</li>
          <li> | </li>
          <li>SignUp</li>
        </ul>
      </header>
      <ul class="navlinks">
        <% navlinks = ['Home', 'Browse', 'Search', 'Invite', 'Film', 'Mail', 'Blog', 'Favorites', 'Forum', 'Groups', 'Events', 'Videos', 'Music', 'Classifieds'] %>
        <% navlinks.each do |link| %>
          <li><%=link%></li>
        <% end %>
      </ul>
      <nav class="top-nav">
        <ul>
          <% if !user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
          <% else %>
            <% if user_signed_in? && is_josh? %>
              <li><%= link_to "Edit Profile", edit_band_path(@band) %></li>
            <% end %>
            <li><%=current_user.email%></li>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </nav>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
